<head>
    <style>
        body {
            background-size: 100%;
            background-image: url('./img/Back.jpg');
            background-size: 100% 100%;
            margin: auto;
        }
        img {
            text-align: center;
        }
        table {
            margin: auto;
            margin-top: 50;
            
        }
        span.home {
            position: absolute;
            top: 600;
            left: 50;
        }
        span.arrow {
            position: absolute;
            top: 600;
            right: 50;
        }

    </style>
    <title>A B C หมีฝึกพูด</title>
</head>

<body>
    <table>
        <tr>
            <span class="home">
                <a href="main.html">
                    <input type="image" src="./img/home.png" width="100px" height="100px">
                </a>  
            </span>
            <td align="center">
                <img src="./img/bear.png" width="300px" height="500px">
            </td>
            <td align="center">
            <td>
                <img src="./img/bear3.png" width="800" height="700">
            </td>
            <span class="arrow">
                <a href="choice1.html">
                    <input type="image" src="./img/arrow.png" width="100px" height="100px">
                </a>  
            </span>
        </tr>
    </table>
</body>